* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.Home_app_container {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #879deb;
}

*::-webkit-scrollbar {
  display: none;
}
